<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>React Slingshot</title>
  <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/react/main.7ca4090056f8f15eff22.css') }}">
  <!-- <link href="/main.7ca4090056f8f15eff22.css" rel="stylesheet"> -->
  </head>
  <body>
    <div id="app"></div>

  <script src="{{ url_for('static', filename='scripts/js/react/main.9f457fca51d34a86d5c9.js') }}"></script>
  <!-- <script type="text/javascript" src="/main.9f457fca51d34a86d5c9.js"></script> -->
</body>
</html>